<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <TextView
        android:text="Click Buttons to input values..."
        android:layout_width="match_parent"
        android:layout_height="80px"
        android:id="@+id/textView1"
        android:textSize="17dp" />
    <EditText
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/etValue"
        android:textSize="20dp" />
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_below="@+id/etValue"
        android:weightSum="1.0"
        android:id="@+id/linearLayout1">
        <Button
            android:text="Clear"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btnClear" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_below="@+id/btnClear"
        android:id="@+id/linearLayout2">
        <Button
            android:text="1"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btn1" />
        <Button
            android:text="2"
            android:layout_height="match_parent"
            android:id="@+id/btn2"
            android:layout_weight=".25"
            android:layout_width="0dp" />
        <Button
            android:text="3"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btn3" />
        <Button
            android:text="+"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btnAdd" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_below="@+id/btn1"
        android:id="@+id/linearLayout3">
        <Button
            android:text="4"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btn4" />
        <Button
            android:text="5"
            android:layout_height="match_parent"
            android:id="@+id/btn5"
            android:layout_weight=".25"
            android:layout_width="0dp" />
        <Button
            android:text="6"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btn6" />
        <Button
            android:text="-"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btnMin" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_below="@+id/btn4"
        android:id="@+id/linearLayout3">
        <Button
            android:text="7"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btn7" />
        <Button
            android:text="8"
            android:layout_height="match_parent"
            android:id="@+id/btn8"
            android:layout_weight=".25"
            android:layout_width="0dp" />
        <Button
            android:text="9"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btn9" />
        <Button
            android:text="x"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btnMul" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_below="@+id/btn4"
        android:id="@+id/linearLayout4">
        <Button
            android:text="(-)"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btnWholeMin" />
        <Button
            android:text="0"
            android:layout_height="match_parent"
            android:id="@+id/btn0"
            android:layout_weight=".25"
            android:layout_width="0dp" />
        <Button
            android:text="."
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btnDot" />
        <Button
            android:text="/"
            android:layout_weight=".25"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/btnDiv" />
    </LinearLayout>
    <Button
        android:text="="
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/btnEq" />
</LinearLayout>